body {
	background-color: black;


}

nav {
	background-color: black;
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
}

/*
Centers the input
*/

input[type=text]{
	color: black;
	background-color: white;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: auto;
	border-bottom: none;

}


.greeter {
	background-color: #47494c;
	color: white;
	text-align: center;
	padding: 2%;
	font-family: 'Fjalla One', sans-serif;
	font-size: 26px;
	font-weight: bold;
}

.categoryButtons{
	text-align: center;
	margin-top: 2%; 
}


#presets{
	background-color: #c41d1d;
}

#presets1{
	background-color: #e5b029;
}

#presets2{
	background-color: #d5d81c;
}

#presets3{
	background-color: #1dc468;
}

#presets4{
	background-color: #36c9ba;
}

#presets5{
	background-color: #4286f4;
}

